<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
        <div class="navbar-header">            
            <button class="navbar-toggler pull-left" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="pull-left" type="button" href="#">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </a>
            <a class="navbar-brand" href="#">Administrador</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li></li>
            </ul>
            <span class="navbar-text">
                <a href="#">Sair</a>
              </span>
        </div>
 
</nav>
