<app-painel-simples titulo="Consultas Marcadas Últimos 30 dias" col="6" tipo="info">
    <h4 class="text-center">120</h4>
</app-painel-simples>

<app-painel-simples titulo="Consultas Marcadas Próximos 30 dias" col="6" tipo="info">
    <h4 class="text-center">99</h4>
</app-painel-simples>

<app-painel-simples titulo="Faturamento Anterior" col="6" tipo="info">
    <div class="box-faturamento">
        <div class="col-md-10">
            <h2 class="text-left">R$ 100.000</h2>
        </div>
        <div class="alert col-md-2 sm alert-danger">
            <b>10%</b>
        </div>
    </div>
</app-painel-simples>

<app-painel-simples titulo="Faturamento Previsão" col="6" tipo="info">
    <div class="box-faturamento">
        <div class="col-md-10">
            <h2 class="text-left">R$ 150.000</h2>
        </div>
        <div class="alert col-md-2 sm alert-success">
            <b>19%</b>
        </div>
    </div>
</app-painel-simples>